<!DOCTYPE html 
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta 
	name="description" 
	content="Manuel Álvarez es Programador Back-End Senior" />
<title>Manuel Álvarez, Backend Programmer</title>
<link 
	href="https://fonts.googleapis.com/css?family=Open+Sans:300" 
	rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/estilos.css" />
</head>
<body>
<div class="vcard" xmlns:foaf="http://xmlns.com/foaf/0.1/"
    about="#me"
	typeof="foaf:Person">
	<h1><span property="foaf:name" class="fn">Manuel Álvarez</span></h1>
	<div class="block">
		<h2>Información personal</h2>
		<img src="/imagenes/manuelalvarez.jpg" alt="Manuel Álvarez">
		<p>Desde pequeño en mi casa siempre hubo ordenadores. Aprendí a
			utilizarlos y a jugar programar desde bien temprano, así que
			cuando tuve que elegir mi carrera, no me costó decidirme.</p>
		<p>Como provengo de una familia de ingenieros, la visión que siempre
			tuve era que después de unos años de experiencia, mi destino era
			ser “el ingeniero” y dirigir el trabajo de los demás, así que
			siempre me pareció el camino lógico: unos años de junior para coger
			experiencia, un contrato temporal aquí, un contrato de prácticas
			allá, hasta llegar a ser Project Manager. No fue difícil después
			llegar a Team Leader y luego Director de departamento, dejar de
			programar, y pasarme el día mirando excels y documentación
			técnica.</p>
		<p>Tampoco tardé mucho en decidir que ese no era mi camino, que yo
			prefería morir con las botas puestas. Que no era aún 
			mi momento para dejar de programar. Ni la empresa ni yo estábamos
			contentos con mi papel como director, así que rehice mi carrera,
			decidí cambiar de stack y volví a la programación.</p>
		<p>Monté mi propia empresa. Salió mal y me dediqué a trabajar para
			empresas de fuera. De fuera de España. La culpa la tuvo un anuncio
			para trabajar en una empresa de Australia por 100,000$ al año. No
			podía creer que esto de programar estuviera tan bien valorado en
			otros lugares, incluso aunque fuera un país con un coste de vida
			mayor.</p>
		<p>Estos años trabajando de forma remota han hecho que me tenga que 
			adaptar rápidamente, aprender muchas cosas nuevas, conocer gente,
			hablar inglés, volver a adaptarme y continuar con la dinámica,
			pero sin dejar de programar. Trabajar en casa, además, me permite
			atender a mi familia, estar con mis hijos, recogerlos del colegio,
			comer con mi mujer y mi hija, llevarlos a entrenar, charlar con
			otros padres y madres, y tener una vida normal.</p>			
	</div>
	<div class="block">
		<h2>Objetivos profesionales</h2>
		<p>Es importante para mí trabajar en proyectos que realmente aporten
			valor a la gente, que pueda decirle a mi madre lo que estoy
			haciendo. He tenido la suerte de poder hacerlo desde que decidí
			trabajar en proyectos de carácter nacional e internacional y creo
			que es algo que me ayuda a ser estar más a gusto y motivado en mi
			trabajo y a ser más productivo.</p>
		<p>También me gusta trabajar con gente. Incluso cuando he trabajado de
			forma remota, he tenido la iniciativa de incluir en el contrato una
			serie de condiciones que incluyan las visitas al centro de trabajo
			para estar con mis compañeros, conocerles, verles cara a cara,
			jugar al fútbol o tomarme una cerveza con ellos de vez en 
			cuando.</p>
		<p>Y me gusta que en el equipo haya gente con sentido del humor. Aquí
			hemos venido a divertirnos y pasarlo bien mientras programamos. No
			debería ser un calvario.</p>
	</div>
	
	<div>
		<p class="identifier">id:
			<span property="foaf:mbox_sha1sum">
				2e6c1d0cee37a5f90d651b705542a4fd1be2aedf</span></p>
	</div>
</div>
</body>
</html>
