<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Manuel Álvarez es Programador Back-End Senior de Python y PHP y Gestor de Proyectos Web" />
<title>Manuel Álvarez Escrivá</title>
<link rel="stylesheet" type="text/css" href="css/estilos.css" />
</head>
<body>
<div class="vcard" xmlns:foaf="http://xmlns.com/foaf/0.1/"
    about="#me"
	typeof="foaf:Person">
	<h1><span property="foaf:name" class="fn">Manuel Álvarez</span></h1>
	<div class="block">
		<h2>Información personal</h2>
		<img src="/imagenes/manuelalvarez.jpg" alt="Manuel Álvarez">
		<h3>Manuel Álvarez</h3>
		<p>Programador Backend senior especializado en Python y PHP con 
			experiencia en gestión de proyectos y equipos. Emprendedor y geek.
		</p>
		<p>Apasionado en la búsqueda de soluciones creativas para la resolución 
			de problemas y retos, siempre intentando mejorar y aprender con cada 
			cosa que hago.</p>
		<p>Tengo más de 12 años de experiencia en el desarrollo de aplicaciones 
			a nivel profesional, 10 de ellos en proyectos web, participando con 
			diversos roles a lo largo de toda mi carrera. Actualmente realizo 
			proyectos web para empresas y particulares.
		</p>
		<p>
			Esta que visitas es mi web: 
			<a 
				href="http://www.manuelalvarez.es/" 
				title="Manuel Álvarez" 
				rel="foaf:homepage" 
				class="url">
					www.manuelalvarez.es
			</a>
		</p>
	</div>
	<div class="block">
		<h2>Perfil</h2>
		<ul class="tools">
			<li><img src="/imagenes/python-64x64.jpg" alt="Python" /></li>
			<li><img src="/imagenes/php-64x64.jpg" alt="PHP" /></li>
			<!--<li><img src="/imagenes/mysql-64x64.jpg" alt="MySQL" /></li>
			<li><img src="/imagenes/mongodb-64x64.jpg" alt="MongoDB" /></li>-->
			<li><img src="/imagenes/django-64x64.jpg" alt="Django Project" /></li>
			<li><img src="/imagenes/jinja-64x64.jpg" alt="Jinja2" /></li>
			<li><img src="/imagenes/codeigniter-64x64.jpg" alt="Codeigniter" /></li>
			<li><img src="/imagenes/yiiframework-64x64.jpg" alt="Yii Framework" /></li>
			<li><img src="/imagenes/joomla-64x64.jpg" alt="Joomla" /></li>
			<li><img src="/imagenes/wordpress-64x64.jpg" alt="Wordpress" /></li>
			<li><img src="/imagenes/prestashop-64x64.jpg" alt="Prestashop" /></li>
			<!--<li><img src="/imagenes/jquery-64x64.jpg" alt="JQuery" /></li>-->
		</ul>
		<h3>Programador Freelance Senior</h3>
		<p>Desarrollo de aplicaciones web como blogs, tiendas online, intranets,
			webs informativas y otros servicios que permiten la realización de 
			tareas online.
		</p>
		<ul>
			<li>Desarrollo de páginas web corporativas, blogs y tiendas online 
				empleando <em>frameworks</em> y <em>CMS</em> abiertos (Django, 
				Jinja, Yii, Code Igniter, Drupal, Joomla, Wordpress, PrestaShop) 
				o desarrollos a medida
			</li>
			<li>Interactivos, juegos y recursos educativos</li>
			<li>Desarrollos a medida para ferias y exposiciones</li>
		</ul>
		<p><a href="#proyectos">Para conocer lo que hago, haz clic aquí</a></p>
	</div>
	<div class="block">
		<h2>Opinión</h2>
		<img src="/imagenes/desized.jpg" alt="Desized">
		<h3>Desized</h3>
		<p>Desized surge de la necesidad de libertad, de salir del cascarón, de romper con las "formas fijas" que han ido moldeando mi 
			carrera profesional y ser yo quien cree mi propia forma. Tomar yo las decisiones.
		</p>
		<p>Y una de esas decisiones fue escribir sobre mi experiencia y opinión para compartir lo que hago y lo que pienso.</p>
		<p>Para conocer más, puedes visitar el blog: <a href="http://www.desized.com/" rel="foaf:weblog me">www.desized.com</a></p>
	</div>
	<div class="block">
		<h2>Trabajo</h2>
		<ul class="tools">
			<li><a href="http://www.trisquelmedia.net" title="Trisquelmedia">
				<img src="/imagenes/trisquelmedia-200x64.jpg" alt="Trisquelmedia" />
			</a></li>
			<li><a href="http://www.bittia.com" title="Isertia">
				<img src="/imagenes/isertia-200x64.jpg" alt="Isertia" />
			</a></li>
			<li><a href="http://www.virati.com" title="Virati">
				<img src="/imagenes/virati-200x64.jpg" alt="Virati" />
			</a></li>
		</ul>
		<h3>Trayectoria profesional</h3>
		<p>Desde 1999 he estado trabajando en empresas de desarrollo de software especializándome casi desde el principio en desarrollo web,
			siendo este el área de trabajo en el que más satisfacciones encuentro.</p>
		</p>
		<p>He trabajado como formador, programador, analista y gestor. Actualmente lidero el área técnica de un proyecto web orientado a 
			centros escolares y que pronto comenzará a funcionar.</p>
		</p>
		<p>Algunos de los trabajos anteriores más destacados han sido:</p>
		<ul>
			<li>2006-2007 <b>Programador</b> en Trisquelmedia en Avilés, Asturias.</li>
			<li>2008-2011 <b>Programador Multimedia</b> y posteriormente <b>Responsable del Área de Tecnología</b> en Isertia 
				(Grupo Bittia) en Gijón, Asturias.
			</li>
			<li>2011-2012 <b>Director de Proyectos Interactivos</b> en Virati (Alisys Software, S.L.) en Gijón, Asturias.</li>
			<li>Desde 2012 me dedico al <b>desarrollo de proyectos web</b> por cuenta propia.</li>
		</ul>
		<p>Se puede ver mi trayectoria profesional completa en mi perfil de LinkedIn en 
			<a href="http://www.linkedin.com/in/manuelalvarezescriva">manuelalvarezescriva</a>
		</p>
	</div>
	<a name="proyectos"></a>
	<div class="block">
		<h2>Proyectos</h2>
		<h3>Trabajos destacados</h3>
		<p>Estos son los proyectos más destacados en los que he participado:
		</p>
		<ul class="projects">
			<li>
				<img src="/imagenes/trabajos/deotraforma.jpg" alt="deOtraForma">
				<a href="http://www.deotraforma.es/">deOtraForma</a>: Web para esta nueva agencia de publicidad. La web se ha desarrollado en php, con 
				CodeIgniter y HTML5 para el front-end. Es una proyecto de cuidado diseño y en la que cada elemento que aparece en ella tiene un sentido como
				no podía ser de otra forma.
			</li>
			<li>
				<img src="/imagenes/trabajos/pheeeapp.jpg" alt="Pheee generador de horarios escolares">
				<a href="http://pheeeapp.appspot.com/">Pheee generador de horarios escolares</a>: Aplicación para la generación automática de horarios 
				docentes que permite a los centros escolares un gran ahorro de tiempo. Desarrollado en Python empleando técnicas de Inteligencia Artificial 
				y Algoritmos Genéticos.
			</li>
			<li>
				<img src="/imagenes/trabajos/clinicaeugin_.jpg" alt="Web para Clínica Eugin">
				<a href="http://www.eugin.es/">Web para Clínica Eugin</a>: Colaboración con el equipo de desarrollo para la creación de 
				módulos y revisión de errores para la web de Clínica Eugin en 2011. Esta web está desarrollada sobre Wordpress empleado 
				como CMS para la web.
			</li>
			<li>
				<img src="/imagenes/trabajos/fpa_es.jpg" alt="Web de la Fundación Príncipe de Asturias">
				<a href="http://www.fpa.es/">Web de la Fundación Príncipe de Asturias</a>: Desarrollo Back-end en primera fase. Posterior 
				dirección del proyecto y coordinación de los eventos desde 2008 a 2011. Desarrollo de herramientas personalizadas de vigilancia de la 
				reputación en Redes Sociales.
			</li>
			<li>
				<img src="/imagenes/trabajos/fpa_ep.jpg" alt="Especial Premios Príncipe de Asturias">
				<a href="http://www.fpa.es/">Especial Premios Príncipe de Asturias</a>: Desarrollo Back-end y dirección de los proyectos 
				"Especial Premios" durante los años 2008, 2009 y 2010. Coordinación de la publicación de contenidos durante la Semana de 
				los Premios en dichas ocasiones.
			</li>
			<li>
				<img src="/imagenes/trabajos/pandoradetectives_.jpg" alt="Web para Pandora Detectives">
				<a href="http://www.pandoradetectives.com/">Web para Pandora Detectives</a>: Desarrollo de la web para Pandora Detectives 
				realizada en 2012 empleando Wordpress como CMS. Web con diseño adaptable a las distintas resoluciones de pantalla 
				así como diversos dispositivos.
			</li>
			<li>
				<img src="/imagenes/trabajos/hc_sostenibilidad.jpg" alt="Memoria digital de sostenibilidad de HC Energía">
				<a href="http://www.bittia.com/portfolio/trabajo_hc-energia-memoria-de-sostenibilidad-2010-196/">Memoria Digital de 
				Sostenibilidad 2010</a>: Coordinación y participación en el desarrollo de esta memoria de sostenibilidad realizada en 2011 
				en flash en la que se cuidaron especialmente el diseño y los detalles para su publicación.
			</li>
			<li>
				<img src="/imagenes/trabajos/esquelasdeasturias.jpg" alt="Aplicación web de Esquelas de Asturias">
				<a href="http://www.esquelasdeasturias.es">Aplicación web de Esquelas de Asturias</a>: Proyecto dedicado a ofrecer un servicio 
				adicional a las funerarias de Asturias. Dirección del equipo de desarrollo y apoyo a la coordinación técnica del proyecto 
				durante su implantación y posterior evolución.
			</li>
			<li>
				<img src="/imagenes/trabajos/fuensanta.jpg" alt="Web de Aguas de Fuensanta">
				<a href="http://www.fuensanta.com/">Web de Aguas de Fuensanta</a>: Desarrollo de back-end y front-end de la web de Aguas de 
				Fuensanta en 2008. Desarrollo de <a href="http://fuensanta.com/productos">Interactivo de productos</a> asociado al 
				gestor de contenidos para la publicación del catálogo. Posterior coordinación de la renovación y desarrollo de 
				back-end de la web en el cambio de imagen de la marca de 2010.
			</li>
			<li>
				<img src="/imagenes/trabajos/modultec.jpg" alt="Web de Modultec">
				<a href="http://www.modultec.es/">Web de Modultec</a>: Desarrollo y coordinación del equipo de programación y diseño de la 
				web de esta empresa de construcción industrializada en la que se presta atención especial al catálogo de obras realizadas.
				Posterior supervisión de los cambios evolutivos de la web hasta 2011.
			</li>
			<li>
				<img src="/imagenes/trabajos/fpa_eim.jpg" alt="Web de la Escuela Internacional de Música de la Fundación Príncipe de Asturias">
				<a href="http://www.escuelainternacionaldemusica.org">Web de la Escuela Internacional de Música</a>: Gestión del proyecto, gestión
				de los eventos y participación en el desarrollo de back-end para la Escuela Internacional de Música de la Fundación Príncipe 
				de Asturias y coordinación del mantenimiento entre 2008 y 2011.</li>
			<li>
				<img src="/imagenes/trabajos/mba_eu.jpg" alt="Web de MBA">
				<a href="http://www.mba.eu/">Web de MBA</a>: Desarrollo de Back-end y publicación de la web del grupo MBA y catálogos 
				online de esta empresa dedicada a la fabricación de prótesis. Posterior gestión y coordinación de los trabajos orientados a su
				mantenimiento y evolución.
			</li>
			<li>
				<img src="/imagenes/trabajos/berlys.jpg" alt="Web de Berlys">
				<a href="http://www.berlys.es/es/">Web de Berlys</a>: Coordinación, planificación y gestión del desarrollo y evolución de 
				la web de Berlys desde 2011 a 2012, en la que se puso mucho interés para alcanzar una alta calidad y un producto acorde con 
				una marcada imagen corporativa.
			</li>
			<li>
				<img src="/imagenes/trabajos/scape.jpg" alt="Web de s-cape">
				<a href="http://www.s-cape.eu/es/">Web de s-cape</a>: Coordinación, planificación y gestión del desarrollo de la 
				web y sistema de reservas de esta agencia de viajes no convencional en la que todo el equipo se esforzó por lograr un resultado 
				lo más adecuado posible a las necesidades de la agencia.
			</li>
			<li>
				<img src="/imagenes/trabajos/cabopenas.jpg" alt="Web de Turismo del Ayuntamiento de Gozón">
				<a href="http://www.ayto-gozon.org/">Web del Ayuntamiento de Gozón</a>: Desarrollo del Back-end y coordinación de los 
				trabajos de programación y publicación de un portal web de gran envergadura para Turismo del Ayuntamiento de Gozón (Asturias) 
				hasta su finalización en 2011.
			</li>
			<li>
				<img src="/imagenes/trabajos/fala.jpg" alt="Curso Interactivo de Llingua Asturiana">
				<a href="http://www.trisquel.com/fala">Curso Interactivo de Llingua Asturiana</a>: Desarrollo del curso multimedia 
				interactivo en Flash. Accesible para discapacitados y bajo estándares SCORM, su interfaz de usuario y 
				su arquitectura son amigables e intuitivas, pensadas para personas sin experiencia en formación online. Se 
				realizó para el Instituto Adolfo Posada.
			</li>
			<li>
				<img src="/imagenes/trabajos/ingles.jpg" alt="Curso de Inglés para Principiantes">
				<a href="http://www.bittia.com/portfolio/trabajo_premio-nacional-para-un-trabajo-de-bittia-177/">Curso de Inglés para 
				Principiantes</a>: Coordinación del proyecto basado en estándares SCORM para el aprendizaje del inglés. Este curso se 
				realizó para el Istituto Adolfo Posada y en 2010 fue galardonado por el Instituto Nacional de Administraciones Públicas 
				(INAP) con el Premio a la Calidad de los Materiales Didácticos.
			</li>
			<li>
				<img src="/imagenes/trabajos/mamatayoe.jpg" alt="Web de Mamatayoe">
				<a href="http://www.mamatayoe.com/">Web de Mamatayoe</a>: Desarrollo y coordinación en 2010 del equipo de programación en la
				web de esta empresa de fabricación de ropa original. Esta web se realizó empleando sólo javascript, html y css con el fin de 
				optimizar su accesibilidad y su posicionamiento, permitiendo a la vez una gran interactividad con los usuarios.
			</li>
			<li>
				<img src="/imagenes/trabajos/concursolabmovil02.jpg" alt="Concurso tunea tu móvil">
				<a href="http://www.concursolabmovil.com/">Concurso tunea tu móvil</a>: Concurso para LABoral Centro de Arte dentro de las actividades 
				para la Feria de muestras de 2009 y que proponía a los visitantes desarrollar su creatividad a través de una herramienta que 
				permitía diseñar una carcasa. El ganador del concurso era el que más votos obtuviera a través de las redes sociales.
			</li>
			<li>
				<img src="/imagenes/trabajos/concursolabmovil03.jpg" alt="Concurso LABmovil">
				<a href="http://www.concursolabmovil.com/">Concurso LABmovil</a>: Concurso para LABoral Centro de Arte posterior al "concurso tunea 
				tu móvil" orientado a los profesionales y estudiantes de diseño que, ponía a su disposición una web donde publicar sus diseños de carcasas
				para móviles y que de entre los más votados en redes sociales un jurado seleccionó a un ganador.
			</li>
			<li>
				<img src="/imagenes/trabajos/termosalud.jpg" alt="Web de Termosalud">
				<a href="http://www.termosalud.com">Web de Termosalud</a>: Programación back-end, en 2007, de la web de Termosalud.</li>
		</ul>
	</div>
	<!--<div class="block">
		<h2>Mis habilidades</h2>
		<h3></h3>
		<p></p>
	</div>-->
	<div class="block">
		<h2>Contacto</h2>
		<h3></h3>
		<p>Puedes contactar conmigo a través de los siguientes medios:</p>
		<ul class="contact_methods">
			<li>Teléfono: +34 636 880 419</li>
			<li>E-mail: <a href="mailto:escriva@gmail.com">escriva@gmail.com</a></li>
			<li>Twitter: <a href="https://twitter.com/escriva/">@escriva</a></li>
			<span rel="foaf:holdsAccount">
				<span typeof="foaf:OnlineAccount">
					<a href="http://www.twitter.com/escriva/" title="escriva @ twitter.com" ><span property="foaf:accountName" 
						class="accountuser">@escriva</span>
					</a>
					<a href="http://www.twitter.com/" rel="foaf:accountServiceHomepage" class="serviceHomepage"></a>
				</span>
			</span>
		</ul>	
		
		<p>Y si quieres saber más sobre mí, puedes seguirme en los siguientes enlaces</p>
		<span rel="foaf:holdsAccount">
		<ul class="links">
			<li class="site-icon" rel="google">
				<a rel="author" href="https://profiles.google.com/110275164731025361469">
				  <img src="http://www.google.com/images/icons/ui/gprofile_button-32.png" width="32" height="32">
				</a>
			</li>
			<li class="site-icon-2" rel="twitter">
				<span typeof="foaf:OnlineAccount">
					<a href="http://www.twitter.com/escriva/" class="icon" title="escriva @ twitter.com" ><span property="foaf:accountName" 
						class="accountuser">escriva</span><img src="/imagenes/twitter-32x32.png" /></a>
					<a href="http://www.twitter.com/" rel="foaf:accountServiceHomepage" class="serviceHomepage"></a>
				</span>
			</li>
			<li class="site-icon-3" rel="facebook">
				<a href="http://www.facebook.com/maescriva" class="icon" style="background: url('/imagenes/facebook-32x32.png');"> </a>
			</li>
			<li class="site-icon-4" rel="linkedin">
				<a href="http://www.linkedin.com/profile/view?id=28685216" class="icon" style="background:url('/imagenes/linkedin-32x32.png');">
				</a>
			</li>
			<li class="site-icon-5" rel="flickr">
				<a href="http://www.flickr.com/people/mnu-e/" class="icon" style="background: url('/imagenes/flickr-32x32.png');"> </a>
			</li>
			<li class="site-icon-6" rel="blogspot">
				<a href="http://www.desized.com/" rel="foaf:weblog me">
				  <img src='/imagenes/blogger-32x32.png' width="32" height="32">
				</a>
			</li>
		</ul>
		</span>
		<p>Si tienes un lector RDFa podrás ver los datos de mi vCard, primer paso hacia la integración web semántica.</p>
	</div>
	
	<div>
		<p class="identifier">id: <span property="foaf:mbox_sha1sum">2e6c1d0cee37a5f90d651b705542a4fd1be2aedf</span></p>
	</div>
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4744139-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
